<div class="container">
  <h1>Contacts</h1>
  <div class="row">
    <div class="list-group-item fit-content" *ngFor="let contact of contacts">
      <h2>{{ contact.name }}</h2>
      <img [src]="contact.image" class="img-thumbnail" />
      <h3>{{ contact.email }} </h3>
      <h3>{{ contact.phoneNumber }}</h3>
    </div>
  </div>
  <h1>Add new contact</h1>
  <div class="form-group">
    <label for="contact-name">Name </label>
    <input type="text" class="form-control" [(ngModel)]="newContact.name">
  </div>
  <div class="form-group">
    <label for="contact-email">Email </label>
    <input type="text" class="form-control" [(ngModel)]="newContact.email">
  </div>
  <div class="form-group">
    <label for="contact-phone">Phone</label>
    <input type="text" class="form-control" [(ngModel)]="newContact.phoneNumber">
  </div>
  <div class="form-group">
    <label for="contact-image">Image url</label>
    <input type="text" class="form-control" [(ngModel)]="newContact.image">
  </div>
  <button class="btn btn-primary" (click)="addContact()">Submit New Contact</button>
</div>
